.all-db {
    display: flex;
    height: 100vh;
    width: 100vw;

    .controls {
        width: 30vw;
        background-color: #cdcdcd
    }

    table,tr,td,th {
        border: 1px solid black;
    }

    .output {
        width: 70vw;
        overflow: scroll;
    }

    *.hidden {
        display: none;
    }
}